{% extends 'base.html' %}

{% block content %}

<h1>Products List</h1>
<div class="column">
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>id</th><th>Description</th><th>Barcode</th>
            </tr>
        </thead>
        <tbody>
        {% for p in products %}
        <tr>
            <form method="POST">
                <th>
                    <a href="{{ url_for('shop_list.product_form',productId = p.id) }}">
                        {{ p.id }}
                    </a>
                </th>
                <td>
                    {{ p.description }}
                </td>
                <td>
                    {{ p.barcode }}
                </td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
$(document).ready(function () {
    $('#data').DataTable();
});
</script>
{% endblock %}
