{% extends 'base.html' %}

{% block content %}

<h1>Products List</h1>
<div>
<a href="{{ url_for('shop_list.newproduct_form') }}">
    <button class="btn btn-primary mb-3">New</button>
</a>
</div>
<div class="column">
    <table id="data" class="table table-striped">
        <thead>
            <tr>
                <th>Times Bought</th><th>Description</th><th>OnList</th>
            </tr>
        </thead>
        <tbody>
        {% for p in products %}
        <tr>
            <form method="POST">
                <th>
                    <a href="{{ url_for('shop_list.product_form',productId = p.id) }}">
                        {{ p.completed_requests }}
                    </a>
                </th>
                <td>
                    <a href="{{ url_for('shop_list.product_form',productId = p.id) }}">
                        {{ p.description }}
                    </a>
                </td>
                <td>
                    <input type="hidden" name="product_id" value="{{ p.id }}">
                    {% if p.open_requests %}
                    <button type="submit" name="action" value="remove_from_list" class="btn btn-danger">Remove</button>
                    {% else %}
                    <button type="submit" name="action" value="add_to_list" class="btn btn-success">Add</button>
                    {% endif %}
                </td>
            </form>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
<script>
$(document).ready(function () {
    $('#data').DataTable(
        order: [[0, 'desc']]
    );
});
</script>
{% endblock %}
